* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    width: 100vw;
}

.main_div   {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.main_div button {
    height: 45px;
    width: 30%;
}

#section_array  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section_array p    {
    padding: 10px 2px;
}